# Session/System Specific Files
.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
.Rapp.history
.Ruserdata
.Renviron

# Subdirectories
_targets/
output/
data/raw/*

# Retain Subdirectories w/out files
!data/raw/.gitkeep
!data/clean/.gitkeep

# Temporary
README.md
